body	{
	
	background-color: black;
	
}

.both	{
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;

}

h1	{
	
font-family: 'Bungee Inline', cursive;
	color: #4d79ff;	
	font-weight: 200;
	font-size: 60px;
	display: block;
	margin-left: 100px;
	
}

h2	{
	
font-family: 'Bungee Inline', cursive;
	color: #4d79ff;	
	font-weight: 200;
	font-size: 40px;
	display: block;
	margin-left: 100px;
	
	
	
}

.alklogo	{
	
	margin-left: -20%;	
	align-items: center;
	display: inline-block;
	font-family: 'Bungee Inline', cursive;
	
}


table, th, td	{
	
	margin-top: 25px;
	border: 3px solid #4d79ff;
	border-collapse: collapse;
	font-family: 'Bungee Inline', cursive;
	color: #4d79ff;	
	font-size: 18px;
	text-align: center;
	width: 250px;
	margin-right: 20%;
	
}

.alkanautojai	{
	
	width: 250px;
	display: inline-block;	
	margin-left: 100px;
}


.pirmas	{

width: 200px;
height: 150px;
box-sizing: border-box;
margin-bottom: -16px;

}


a {
	
	text-decoration: none;
	font-family: 'Bungee Inline', cursive;
	color: #4d79ff;
	
}

a:visited, a:active {
  color: #4d79ff;
  text-decoration: none;
	font-family: 'Bungee Inline', cursive;
  
}	
	
