body	{
	
	background-color: black;
	
}

h1	{
	
font-family: 'Bungee Inline', cursive;
	color: #4d79ff;	
	font-weight: 200;
	font-size: 56px;
	display: block;
	margin-left: 100px;
	
}



.alklogo	{
	
	margin-left: 50px;	
	align-items: center;
	display: inline-block;
	
}

p {
	
		font-family: 'Bungee Outline', cursive;
        font-size: 25px; 
        font-weight: bold; 
         font-weight: 800; 
        -webkit-font-smoothing: antialiased; 
		color: whitesmoke;
		float: clear;
	
}

table, th, td	{
	
	margin-top: 25px;
	border: 3px solid #4d79ff;
	border-collapse: collapse;
font-family: 'Bungee Inline', cursive;
	color: #4d79ff;	
	font-size: 30px;
	text-align: center;
	
}

td	{
	
	width: 200px;
		
}


.alkanautojai	{
	
	width: 250px;
	display: inline-block;	
	margin-left: 100px;	
}

.alkzaid	{
	
	margin-right: 35%;
	display: inline-block;	
	float: right;
	
}

.pirmas	{

width: 200px;
height: 160px;
box-sizing: border-box;
margin-bottom: -26px;

}

a {
	
	text-decoration: none;
	
}

a:visited, a:active {
  color: whitesmoke;
  
}
